@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        max-width: 100%;
        max-height: 80vh;
        height: auto;
    }
</style>

<div class="text-center">
    <h1 class="display-2"> Europe Day Athenathon</h1>
    <h2 class="display-4"> Be a part of the movement!</h2>
    <img src="~/images/athenathonKarte.jpg" class="img" alt="My image" />
</div>

