
@{ var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string; }
<link rel="stylesheet" href="~/css/Running.css" />

<h1 style="color:whitesmoke">Login</h1>
@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger" style="padding:20px;">@error</h2>}
<form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
    <input type="text" name="email" placeholder="E-Mail" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="login" />
</form>

