@{
    ViewData["Title"] = "Dashboard Page";
}

<style>
    img {
        max-width: 100%;
        max-height: 80vh;
        height: auto;
    }
</style>

<html>
<head>
    <!--Load the AJAX API-->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // PieChartTypeOfSports
        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'TypeOfSport');
            data.addColumn('number', 'Kilometers');
            data.addRows([
                ['Running', 3333],
                ['Swimming', 1496],
                ['Cycling', 1807],
                ['else', 2364]
            ]);

            // Set chart options
            var options = { 'title': 'Types of Sport' };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
        // ProgressBarChart Distance
        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['bar'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawDistanceBar);

        // Callback that creates and populates a data table,
        // instantiates the bar chart, passes in the data and
        // draws it.
        function drawDistanceBar() {
            var data = new google.visualization.arrayToDataTable([
                ['Distance in km', 'Distance'],
                ['Until now', 9200],
                ['Goal', 11000],
             ]);

            // Set chart options
            var options = {
                width: 800,
                chart: {title: 'Distance achieved'},
                bars: 'horizontal',
                series: {
                0: { axis: 'Test' }, // Bind series 0 to an axis named 'Distance'.
                },
                axes: {
                    x: { distance: { label: 'km' } } // Bottom x-axis.
                }
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.charts.Bar(document.getElementById('dual_x_div'));
            chart.draw(data, options);
        };

        // NewsfeedTable
        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['table'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawNewsTable);

        // Callback that creates and populates a data table,
        // instantiates the table, passes in the data and
        // draws it.
        function drawNewsTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('string', 'Title');
            data.addColumn('string', 'Text');
            data.addColumn('string', 'Author');
            data.addRows([
                ['02.05.2021', 'The FINAL Sprint!', 'We are a week away from the finish line with 2000km more to reach our goal. Now is the time to get your friends to join and make an event out of your runs. You can post selfies under #ATHENATON #Move4ATHENA.', 'Beyza'],
                ['24.04.20211', 'Progress', 'We are at the halftime mark timewise and we are increadibly impressed with this community. We have already hit 6000km.', 'Anne'],
                ['08.03.2021', 'ATHENATON', '	The seven Universities of the ATHENA European University are proud to launch the Europe Day ATHENATHON, a sporting event destined to reach a distance of 11,000 km. Within a month, from 9 April until 9 May, we invite the students and staff of each university, and every person who wants to participate, to join our event and reach our 11 000 km goal, which represents the distance that connects the seven campuses of our alliance.', 'Anne'],
            ]);

            // Instantiate and draw the table, passing in some options.
            var table = new google.visualization.Table(document.getElementById('table_div'));
            table.draw(data, { showRowNumber: false, width: '100%', height: '100%' });
        }

        
    </script>
    
</head>
<body>
    <div class="container">
        <div class="text-center mb-5">
            <h1 class="display-10"> This is the Dashboard!</h1>
        </div>

        <div class="row mb-5 align-items-center">
            <div class="col-lg-6">
                <div id="piechart" style="width: 100%; height: 100%"></div>
            </div>
            <div class="col-lg-6">
                <div id="dual_x_div" style="width:80%; height: 100%"></div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class=" col-lg-12">
                <div id="table_div"></div>
            </div>
        </div>
    </div>
</body>
</html>