@model Athenathon_Webseite.Models.User

<form method="post" asp-action="Edit">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Do you want to lock the User?</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <!--Naming and Spacing of the tables columns.-->
                <div class="form-group row"></div>
                <div class="form-group row">
                    <div class="col-3">
                        <input asp-for="Locked" class="form-check" style="width:30px; height:30px;" />
                    </div>
                <!--Design of Buttons-->
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Edit" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
                        <partial name="_ValidationScriptsPartial" /> }
}
