@model Athenathon_Webseite.Models.Newsfeed

<form method="post" asp-action="Create">
    <div class="border p-3">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add News</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <!--Naming and Spacing of the tables columns.-->
                <div class="form-group row">
                    <div class="col-3">
                        Date
                    </div>
                    <div class="col-3">
                        Title
                    </div>
                    <div class="col-3">
                        Text
                    </div>
                    <div class="col-3">
                        Author
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <input asp-for="Time" class="form-control" />
                        <span asp-validation-for="Time" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="Text" class="form-control" />
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                </div>
                <!--Design of Buttons-->
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Add" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />}
}